.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.parent,
.parent1 {
  min-height: 100vh;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  animation: fadeIn 2s ease-in-out forwards;
}

.animate {
  opacity: 0;
  transform: translateY(10vh);
  animation: appear-from-bottom 1.5s ease forwards, fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.logo {
  position: absolute;
  opacity: 1;
  left: 2vh;
  animation: fadeIn 2s ease-in-out 1s forwards, fadeOut 2s ease-in-out 8s forwards;
}

.blvckPixel {
  position: absolute;
  opacity: 0;
  left: 17vh;
  transition: opacity 1s ease;
  animation: fadeIn 2s ease-in-out 2s forwards, fadeOut 1s ease-in-out 4s forwards;
  color: black;
}

.foresightCompany {
  position: absolute;
  opacity: 0;
  left: 17vh;
  animation: fadeIn 2s ease-in-out 6s forwards, fadeOut 1s ease-in-out 9s forwards;
  color: black;
  user-select: none;
}

.slide-up {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 9s forwards;
  animation: slideUpp 2s ease-in-out 11s forwards;
}

@keyframes slideUpp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-10vh);
    opacity: 1;
  }
}


.text-container {
  width: 100%;
  opacity: 0;
  left: 10vh;
  text-align: center;
  animation: fadeIn 2s ease-in-out 12s forwards;
}

.foresight {
  position: absolute;
  opacity: 0;
  left: 10vh;
  color: black;
  transition: all 5s ease;
  animation: fadeIn 2s ease-in-out 6s forwards, fadeOut 1s ease-in-out 9s forwards;;
}

.foresight.slide-upp::after {
  content: "[ foresight ]";
}

.paragraph {
  position: absolute;
  opacity: 1;
  left: 10vh;
  transition: opacity 1s ease-in-out 11s;
  color: black;
  text-align: left;
}

.blvckPixell {
  position: absolute;
  color: black;
  left: 10vh;
  animation: fadeIn 2s ease-in-out 2s forwards;
}

.v {
  position: absolute;
  opacity: 0;
  color: black;
  left: 10vh;
  animation: fadeIn 2s ease-in-out 2s forwards;
}

.v.move-left {
  transition: left 2s ease-in-out;
}
.v.slide-up::after {
  content: "V = [ Vision ]";
}

.paragraph1 {
  position: absolute;
  opacity: 1;
  left: 10vh;
  transition: opacity 1s ease-in-out 8s;
  color: black;
  text-align: left;
}

.paragraphs-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10vh;
}


.appear-from-bottom {
  animation: appear-from-bottom 0.5s ease forwards;
}



.para1 {
  animation-delay: 1s;
  left: 10vh;
  margin-bottom: 5vh;
}

.para2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
  opacity: 0;
}

.para3 {
  animation-delay: 3s;
  margin-bottom: 2vh;
  opacity: 0;
}

.para-exist{
  position: absolute;
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: left;
  left: 10vh;
}
.para-exist1 {
  animation-delay: 1s;
  margin-bottom: 5vh;
}

.para-exist2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}

.para-exist3 {
  animation-delay: 3s;
  margin-bottom: 5vh;
}

.prep{
  position: relative;
  color: black;
  left: 10vh;
  opacity: 1; /* Initial opacity */
}
.prep-head{
  position: absolute;
  color: black;
  left: 10vh;

}
.prep1 {
  opacity: 0;
  animation-delay: 1s;
  margin-bottom: 5vh;
}

.prep2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}
.prep3 {
  opacity: 0;
  animation-delay: 2s;
  margin-bottom: 5vh;
}

/* menubar */

.scrollable-menu {
  z-index: 2;
  position: fixed;
  top: 10vh;
  right:-2vw;
  width: 200px; 
  height: 20vh;
  overflow: hidden;
  overflow-y: auto;
}

.menu-items {
  padding: 20px;
}

.menu-item,
.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4,
.menu-item5,
.menu-item6
 {
  color: black;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}
.animateone{
  transform: translateY(-10vh); /* Adjust the value as needed */
  transition: transform 0.5s ease; 
}

.animatetwo {
  transform: translateY(-40vh); /* Adjust the value as needed */
  transition: transform 0.5s ease;  /* Final vertical position */
}


@keyframes appear-from-bottom {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150px);
    }
  }

  @keyframes moveUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-250px);
    }
  }