.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* .scrollable-section{
  margin-left: 80vw;
}
.who-we-are {
  height: 100vh;
}
.why-we-exist{
  height: 100vh;
}
.what-we-do {
  height: 100vh;
}
.whom-we-work{
  height: 100vh;
} */
.logo {
  position: absolute;
  bottom: 10vh;
  left: 20px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s forwards, fadeOut 2s ease-in-out 8s forwards;
}

.blvckPixel {
  position: absolute;
  bottom: 10vh;
  left: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 2s forwards, fadeOut 1s ease-in-out 4s forwards;
  color: black;
}

.foresightCompany {
  position: absolute;
  bottom: 10vh;
  left: 100px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 5s forwards, fadeOut 1s ease-in-out 6s forwards;
  color: black;
  user-select: none;
}

.text-container {
  width: 100%;
  opacity: 0;
  text-align: center;
  animation: fadeIn 2s ease-in-out 8s forwards;
}

.foresight {
  position: absolute;
  bottom: 10vh;
  left: 17vw;
  opacity: 0;
  color: black;
  transition: all 5s ease;
  animation: fadeIn 2s ease-in-out 6s forwards, moveUp 2s 7s forwards;
}

.foresight.slide-up::after {
  content: "[ foresight ]";
}

.paragraph {
  position: absolute;
  left: 15vw;
  bottom: 10vh;
  opacity: 1;
  transition: opacity 1s ease-in-out 8s;
  color: black;
  text-align: left;
}

.blvckPixell {
  position: absolute;
  bottom: 10vh;
  left: 100px;
  color: black;
  animation: fadeIn 2s ease-in-out 2s forwards;
}

.v {
  position: absolute;
  bottom: 10vh;
  opacity: 0;
  left: 9vw;
  color: black;
  animation: fadeIn 2s ease-in-out 10s forwards, slide-up 2s 12s forwards;
}

.v.move-left {
  transition: left 2s ease-in-out;
}
.v.slide-up::after {
  content: "V = [ Vision ]";
}

.paragraph1 {
  position: absolute;
  left: 9vw;
  bottom: 10vh;
  opacity: 1;
  transition: opacity 1s ease-in-out 8s;
  color: black;
  text-align: left;
}

.paragraphs-container {
  /* position: absolute; */
  left: 17vw;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .para1, .para2, .para3 {
  opacity: 0;
  transition: opacity 0.5s ease;
} */

.appear-from-bottom {
  animation: appear-from-bottom 0.5s ease forwards;
}

.para1 {
  animation-delay: 1s;
  margin-bottom: 5vh;
}

.para2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}

.para3 {
  animation-delay: 3s;
  margin-bottom: 2vh;
}

.para-exist{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.para-exist1 {
  animation-delay: 1s;
  margin-bottom: 5vh;
}

.para-exist2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}

.para-exist3 {
  animation-delay: 3s;
  margin-bottom: 5vh;
}

.prep{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  color: black;
  animation: moveUp 1s ease-in-out 2s forwards;
}
.prep-head{
  bottom: 10vh;
  position: absolute;
  left: 10vw;
  color: black;
}
.prep1 {
  animation-delay: 1s;
  margin-bottom: 5vh;
}

.prep2 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}
.prep3 {
  animation-delay: 2s;
  margin-bottom: 5vh;
}
/* test.css */


.childDivContainer {
  height: auto;
  transition: transform 0.7s ease;
}

.childDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: black;
}

/* menubar */

.scrollable-menu {
  z-index: 2;
  position: fixed;
  top: 10vh;
  right:0;
  width: 200px; 
  height: 20vh;
  overflow: hidden;
  overflow-y: auto;
}

.menu-items {
  padding: 20px;
}

.menu-item,
.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4,
.menu-item5,
.menu-item6
 {
  color: black;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}


@keyframes appear-from-bottom {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150px);
    }
  }

  @keyframes moveUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-250px);
    }
  }