/* test.css */

.parentContainer {
  height: 100vh;
  overflow: hidden;
}

.childDivContainer {
  height: auto;
  transition: transform 0.7s ease;
}

.childDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: black;
}
